<template name="kibo">
  <div class="row">
    <div class="large-12 columns">
      <h1>Kibo</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <form id="new">
        <input type="text" name="url" id="url" required="true" placeholder="URL">
        <input type="text" name="name" id="name" required="true" placeholder="Name">
        <textarea name="description" id="description" required="true" placeholder="Description"></textarea>

        <div class="actions">
          <input type="submit" value="Add" class="button small">
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    {{#each products}}
      <div class="large-4 columns">
        <div class="product">
          <h5>{{name}}</h5>
          <p>{{description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</template>
